:root {
  --small-gap: 2rem;
  --gap: 2.5rem;
  --y-gap: 8rem;
  --wide: 140rem;
  --narrow: 80rem;
  --side: calc((var(--wide) - var(--narrow)) / 2);
  --header: 10rem;
  --footer: calc(8rem + var(--safe-bottom));
  --code-bg: #282828;

  color-scheme: light dark;
  --light: light-dark(#efefef, #161616);
  --dark: light-dark(#161616, #efefef);

  --safe-bottom: 0;
}

#search {
  margin-bottom: var(--gap);
}

mark {
  background: var(--black) !important;
  color: var(--white) !important;
}

abbr[title] {
  border-bottom: 2px dotted;
  text-decoration: none;
}

video {
  border-radius: 1rem;
}

math {
  font-family: LatinModern;
  font-size: 2.5rem;
}

.katex:has(math[display="block"]) {
  display: block;
  overflow-x: auto;
  overflow-y: clip;
}

.collapsable-explanation {
  &:not(:has(input:checked)) {
    div:nth-last-child(1 of .highlight) {
      display: none;
    }
  }

  &:has(input:checked) {
    div:nth-last-child(1 of .highlight) {
      display: block;
    }

    p,
    .highlight {
      display: none;
    }
  }

  .container {
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    &:first-child {
      margin-bottom: var(--gap);
    }

    &:last-child {
      margin: var(--gap) 0;
    }
  }

  .rule {
    height: .2rem;
    flex: 1;
    background: var(--fog);
    border: 0;
  }

}

.list-tag {
  background: var(--faint);
  color: var(--lit);
  padding: 0.25rem .75rem;
  border-radius: 0.5rem;
  z-index: 3;
  position: relative;

  &::before {
    content: ' ';
    position: absolute;
    z-index: 1;
  }
}

@supports (bottom: constant(safe-area-inset-bottom)) {
  :root {
    --safe-bottom: constant(safe-area-inset-bottom);
  }
}

@supports (bottom: env(safe-area-inset-bottom)) {
  :root {
    --safe-bottom: env(safe-area-inset-bottom);
  }
}

.site-name>svg {
  width: 18rem;
  fill: var(--dark)
}

.math {
  padding: var(--gap);
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  -webkit-tap-highlight-color: transparent;
  font-size: 8px;
}

.pagefind-ui__search-clear {
  height: calc(60px * var(--pagefind-ui-scale) - 1px) !important;
}

.pagefind-ui * {
  transition: background 0.4s ease-out !important;
}

.pagefind-ui__search-input::placeholder {
  opacity: .5 !important;
}

body {
  --white: var(--light);
  --black: var(--dark);

  --pro: var(--dark);
  --lit: color-mix(in lab, var(--dark) 64%, transparent);
  --air: color-mix(in lab, var(--dark) 48%, transparent);
  --fog: color-mix(in lab, var(--dark) 12%, transparent);
  --faint: color-mix(in lab, var(--dark) 5%, transparent);

  --pagefind-ui-text: var(--pro) !important;
  --pagefind-ui-primary: var(--pro) !important;
  --pagefind-ui-background: var(--white) !important;
  --pagefind-ui-border: var(--fog) !important;
  --pagefind-ui-font: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif !important;
  --pagefind-ui-tag: var(--faint) !important;

  display: flex;
  flex-direction: column;
  padding: 0 var(--gap);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  line-height: 1.8;
  color: var(--pro);
  word-break: break-word;
  background: var(--white);
  transition: background 0.4s ease-out;
}

body>* {
  flex-shrink: 0;
  width: 100%;
  margin-inline: auto;
}

@media (max-width: 1199px) {
  html {
    font-size: 7px;
  }
}

/* Reset default properties */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.2;
}

p {
  margin: 0;
}

strong,
b {
  font-weight: 700;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

button,
input,
textarea {
  padding: 0;
  font: inherit;
  background: transparent;
  border: 0;
  outline: none !important;
}

button,
input[type='button'],
input[type='submit'] {
  cursor: pointer;
}

input,
textarea {
  padding: 0;
  border: 0;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  box-shadow: 0 0 0 6rem var(--white) inset;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  max-width: var(--wide);
  margin-top: var(--gap);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  outline: .25rem solid var(--fog);
  position: relative;
  padding: var(--small-gap);
  gap: 1rem;

  .push {
    margin-left: auto
  }

  &>a {
    width: 4rem;
    height: 4rem;
    position: relative;

    &:after {
      width: 3rem;
      height: 3rem;
      top: .5rem;
      left: .5rem;

      background: var(--black);
      mask-image: var(--url);
      mask-repeat: no-repeat;
      mask-size: cover;
    }
  }

  /* background mask */
  &>a:after,
  &:after {
    z-index: -100;
    content: "";
    position: absolute;
  }

  &:after {
    width: 100%;
    height: 100%;
    left: 0;
    background: var(--fog);
    mask-image: url('header.svg');
    mask-size: 24rem;
  }
}

.header a.active {
  outline: 2px solid var(--air);
  border-radius: 50%;
}

@media (max-width: 360px) {
  .header {
    justify-content: space-evenly;
    flex-wrap: wrap;

    .push {
      display: none;
    }

    h1 {
      text-align: center;
      flex: 100%;
    }
  }
}

.main {
  max-width: var(--narrow);
  min-height: calc(100% - var(--header) - var(--footer));
  padding-top: var(--gap);
  padding-bottom: var(--y-gap);
}

.main-nav {
  display: flex;
  margin-top: 5rem;

  a {
    font-size: 1.8rem;
    line-height: 5.5rem;
    font-weight: 500;
    background: var(--faint);
    color: var(--lit);
    border-radius: 0.5rem;
    padding-inline: 3rem;
  }

  .next {
    margin-left: auto;
  }
}


.post-entry {
  position: relative;
  padding-block: 2rem;
  transition: transform 0.1s;

  &:active {
    transform: scale(0.99);
  }

  h2 {
    margin-bottom: 0.2rem;
    font-size: 3rem;
  }

  time {
    flex-shrink: 0;
    font-size: 1.7rem;
    color: var(--air);
  }
}

.post-link {
  position: absolute;
  inset: 0;
}

/* a single post */
.post-title {
  margin-bottom: calc(var(--y-gap) + 1rem);

  p {
    display: flex;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    color: var(--air);
    transform: translateY(0.4rem);
  }

  p span::before {
    content: '·';
    margin-inline: 0.8rem;
  }

  h1 {
    font-size: 5rem;
    transform: translateX(-0.3rem);
  }
}

.post-tags {
  margin-top: var(--y-gap);

  a {
    display: inline-block;
    font-weight: 500;
    line-height: 5rem;
    color: var(--lit);
    background: var(--faint);
    border-radius: 0.5rem;
    padding-inline: 2rem;
  }

  a+a {
    margin-left: 0.5rem;
    margin-bottom: 0.8rem;
  }
}

.post-nav {
  display: flex;
  justify-content: space-between;
  margin-top: var(--y-gap);
  background: var(--faint);
  border-radius: 0.5rem;

  a {
    display: flex;
    align-items: center;
    width: 50%;
    padding: var(--gap);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2;
  }

  a span+span {
    margin-left: 1rem;
  }

  .prev {
    padding-right: 1rem;
  }

  .next {
    justify-content: flex-end;
    padding-left: 1rem;
    margin-left: auto;
  }
}

.post-comments {
  margin-top: var(--y-gap);
}

@media (max-width: 1199px) {
  .post-title {
    display: block;

    aside {
      flex-direction: row;
      width: auto;
      padding-right: 0;
      margin-bottom: 0.5rem;
      margin-left: 0;
      transform: none;

      span::before {
        content: '·';
        margin-inline: 0.5rem;
      }
    }
  }
}

.post-content {
  font-size: 2.2rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block: 2rem;
  }

  h1 {
    margin-top: var(--y-gap);
    font-size: 4.5rem;
  }

  h2 {
    margin-top: 6rem;
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2.2rem;
  }

  h5 {
    font-size: 1.8rem;
  }

  h6 {
    font-size: 1.5rem;
  }

  img {
    margin-inline: auto;
  }

  a {
    padding-bottom: 0.2rem;
    font-weight: 500;
    border-bottom: 2px solid var(--pro);

    code {
      margin-inline: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  del {
    text-decoration: none;
    background: linear-gradient(to right, var(--pro) 100%, transparent 0) 0 50% / 1px 1px repeat-x;
  }

  p,
  ul,
  ol,
  dl,
  details {
    margin-bottom: 3rem;
  }

  ul,
  ol {
    padding-left: 2.5rem;
  }

  li {
    margin-top: 0.6rem;

    p {
      margin-bottom: 0;
    }
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  dt {
    width: 25%;
    font-weight: 500;
  }

  dd {
    width: 75%;
    padding-left: 1.3rem;
    margin-left: 0;
  }

  dt~dt,
  dd~dd {
    margin-top: 1.3rem;
  }

  table {
    margin-bottom: 4rem;

    th {
      font-size: 2.6rem;
      text-align: left;
    }

    th,
    td {
      word-break: normal;
      padding: 1.5rem 1rem;
      line-height: 1.5;
      border-bottom: 1px solid var(--fog);
    }

    td:has(code) {
      inline-size: var(--wide);
      word-break: break-all;
      overflow-wrap: break-word;
    }

    td code:only-of-type {
      margin-inline: 0;
    }
  }

  .highlight,
  pre {
    margin: 0 calc(var(--gap) * -1) 4rem;
    overflow-x: auto;
    background: var(--code-bg) !important;
    border-radius: 0.5rem;
  }

  ul pre {
    margin-left: calc(var(--gap) * -2);
  }

  .highlight pre {
    margin-inline: 0;
    margin-bottom: 0;
  }

  code {
    padding: 0.5rem 1rem;
    margin-inline: 0.5rem;
    font-family: Menlo, Monaco, 'Courier New', Courier, monospace;
    font-size: 0.8em;
    line-height: 1.5;
    background: var(--faint);
    border-radius: 0.3rem;
  }

  pre code {
    display: block;
    padding: var(--gap);
    margin-inline: 0;
    color: rgba(255, 255, 255, 0.8);
    background: transparent;
    border-radius: 0;
  }

  blockquote {
    padding: 0 0 0 calc(var(--gap) - 0.4rem);
    margin: 0 0 0 calc(var(--gap) * -1);
    border-left: 0.4rem solid var(--pro);
  }

  hr {
    height: 1px;
    background: var(--fog);
    border: 0;
    margin-block: 12rem;
  }

  iframe {
    width: 100%;
    background: var(--black);
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: var(--narrow);
  height: var(--footer);
  padding-bottom: var(--safe-bottom);
  margin-top: auto;
  font-size: 1.6rem;
  color: var(--lit);
  border-top: 1px solid var(--fog);

  p+p::before {
    content: '·';
    margin-inline: 0.6rem;
  }

  a:hover {
    color: var(--pro);
    border-bottom: 1px solid var(--pro);
  }
}

.title-404 {
  align-content: center;
  text-align: center;
  height: 100%;
  font-size: 16rem;
}

@font-face {
  font-family: LatinModern;
  src: url(latinmodern-math.otf);
  font-display: swap;
}