<header class="header">
		<h1>
			<a class="site-name" href="{{ `` | absURL }}">{{ site.Title }}</a>
		</h1>
		<div class="push"></div>
			{{ range .Site.Params.socials }}
  			<a
    			style="--url: url(./{{ .platform }}.svg)"
    			href="{{ .url }}"
					aria-label="{{ .platform }}"
    			target="_blank"
  			></a>
  		{{ end }}
			{{ $page := . }}
  		{{ range .Site.Menus.main }}
  			<a
  			  {{ if in $page.RelPermalink .URL }}
  			    class="active"
  			  {{ end }}
  				href="{{ .URL }}"
  				aria-label="{{ .Name }}"
    			style="--url: url(./{{ .Name }}.svg)"
  			></a>
  		{{ end }}
</header>
