{{ define "main" }}

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}
{{ if .IsHome }} {{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ end }}

<section class="post-content">
  {{.Content}}
</section>

{{ $paginator := .Paginate $pages }} {{ range $index, $page := $paginator.Pages }}
<article>
  <h2>{{ .Title }}</h2>
  <br>
  <img src="{{ .Params.image }}" style="border-radius: 1rem">
  <a href="{{ .Permalink }}" aria-label="{{ .Title }}" class="post-link"></a>
</article>
{{ end }}

{{ if gt $paginator.TotalPages 1 }}
  <nav data-main>
    <a href="{{ if $paginator.HasPrev }}{{ $paginator.Prev.URL }}{{ end }}">Previous Page</a>
    <a href="{{ if $paginator.HasNext }}{{ $paginator.Next.URL }}{{ end }}">Next Page</a>
  </nav>
{{ end }}

{{ end }}
