{{ define "main" }}

{{ $pages := union .RegularPages .Sections }}
  {{ if .IsHome }} {{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ end }}

<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js" type="text/javascript"></script>
<search></search>

<section class="post-content">
  {{.Content}}
</section>

{{ $paginator := .Paginate $pages }}

{{ range $page := $paginator.Pages }}
<article>
  <a aria-label="{{ .Title }}" href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
  {{ partial "description" . }}<br>
  {{ partial "tags" . }}
  <a class="post-link" aria-label="{{ .Title }}" href="{{ .Permalink }}"></a>
</article>
{{ end }}

{{ if gt $paginator.TotalPages 1 }}
  <nav data-main>
    <a href="{{ if $paginator.HasPrev }}{{ $paginator.Prev.URL }}{{ else }}#{{ end }}">Previous Page</a>
    <a href="{{ if $paginator.HasNext }}{{ $paginator.Next.URL }}{{ else }}#{{ end }}">Next Page</a>
  </nav>
{{ end }}

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "search" });
    });
</script>
{{ end }}
