{{ define "main" }}

{{ $pages := union .RegularPages .Sections }}
  {{ if .IsHome }} {{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ end }}

<link href="/pagefind/pagefind-component-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-component-ui.js" type="module"></script>

<div class="pagefind-wrapper">
  <pagefind-input></pagefind-input>
  <pagefind-summary></pagefind-summary>
  <pagefind-results></pagefind-results>
</div>

<section class="post-content">
  {{.Content}}
</section>

{{ $paginator := .Paginate $pages }}

{{ range $page := $paginator.Pages }}

<article>
  <a href="{{ .Permalink }}" aria-label="Read {{ .Title }}"></a>

  <h2>{{ .Title }}</h2>
  {{ partial "description" . }}
  <nav>
    {{ range .Params.tags }}
      <a href="/tags/{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  </nav>
</article>
{{ end }}

{{ if gt $paginator.TotalPages 1 }}
  <nav data-main>
    <a href="{{ if $paginator.HasPrev }}{{ $paginator.Prev.URL }}{{ else }}#{{ end }}">Previous Page</a>
    <a href="{{ if $paginator.HasNext }}{{ $paginator.Next.URL }}{{ else }}#{{ end }}">Next Page</a>
  </nav>
{{ end }}

{{ end }}
