{{ define "main" }}
  <hgroup data-pagefind-body>
    <p data-pagefind-ignore>
      {{ partial "description" . }}
    </p>
    <h1 data-pagefind-meta="title">{{ .Title }}</h1>
  </hgroup>
  <section class="post-content" data-pagefind-body>{{ .Content }}</section>

  <footer class="post-tags" data-pagefind-meta="tags">
    {{ partial "tags" . }}
  </footer>

  <!-- Post Nav -->
  {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{ if and (gt (len $pages) 1) (in $pages . ) }}
  <nav data-post>
    {{ with $pages.Next . }}
    <a href="{{ .Permalink }}"><span>←</span><span>{{ .Name }}</span></a>
    {{ else }}
    <br>
    {{ end }}
    {{ with $pages.Prev . }}
    <a href="{{ .Permalink }}"><span>{{ .Name }}</span><span>→</span></a>
    {{ else }}
    <br>
    {{ end }}
  </nav>
  {{ end }}
{{ end }}
